<style>
    calci{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: black;
	font-size: 20px;
	text-transform: uppercase;
	background: yellowgreen;
	/* text-align: center; */
	list-style: none;
	/* padding: 27vh; */
	font-weight: 600;
  }
  
  .calci h2{
	font-weight:bolder;
	font-size: 50px;
  }
  
  .bmi input{
	width: 300px;
	background: black;
	border: none;
	border-bottom: 2px solid yellowgreen;
	color: white;
	padding: 10px;
	margin: 10px;
	font-size: 20px;
  }
  
  #result{
	margin-top: 20px;
  }
  
  footer{
	height: 10vh;
	font-size: 20px;
	color: white;
  }
  
  .fa{
	padding: 10px;
	color: white;
  }
</style>


<section class="grid">
    <div class="center" style="width: 50vw; height: 90vh; background: yellowgreen;">
        <div class="calci">
            <h2>BMI Calculator</h2>
        </div>
    </div>
    <div class="center bmi">
        <div>
            <div>
                <input type="text" id="height" placeholder="height (in cm)">
            </div>
            <div>
                <input type="text" id="weight" placeholder="weight (in kg)">
            </div>
            <div class="center">
                <button style="margin-top: 15px;" onclick="calculator()">Calculate</button>
            </div>
            <div id="result" class="center"></div>
        </div>
    </div>
</section>