<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYM</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div style="height: 100vh;">
        

        <div style="margin-top: 5vh;">
            <section class="slideshow">
                <div></div>
                <div class="slider">
                    <div class="slides">
                        <!-- radio button start -->
                        <input type="radio" name="radio-btn" id="radio1">
                        <input type="radio" name="radio-btn" id="radio2">
                        <input type="radio" name="radio-btn" id="radio3">
                        <input type="radio" name="radio-btn" id="radio4">

                        <!-- slide image start -->
                        <div class="slide first">
                            <img src="https://source.unsplash.com/400x450/?gymnastic" alt="">
                        </div>
                        <div class="slide">
                            <img src="https://source.unsplash.com/400x450/?workout" alt="">
                        </div>
                        <div class="slide">
                            <img src="https://source.unsplash.com/400x450/?dumbles" alt="">
                        </div>
                        <div class="slide">
                            <img src="https://source.unsplash.com/400x450/?gym" alt="">
                        </div>
                    </div>

                    <!-- manual navigation  -->
                    <div class="navigation-manual">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                        <label for="radio4" class="manual-btn"></label>
                    </div>
                </div>
                <div>
                    <div class="welcome">
                        <h1 style="font-size: xx-large;">Welcome,<br>To our Gym.</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br> Minima, hic eligendi sit
                            voluptatibus
                            illo rerum!</p>
                        <button style="margin-top: 2vh;">Become a Member</button>
                    </div>
                </div>
            </section>
        </div>

        <section class="detail">
            <div class="location address center"><span>Jalandhar, Phagwara</span></div>
            <div class="location phone center"><span>+91-7827089066</span></div>
        </section>
    </div>

    <hr style="padding: 0px;margin: 0px;background-color: grey; border-color: grey;">

   

    <hr style="padding: 0px;margin: 0px;background-color: grey; border-color: grey;">
    

    
    <hr style="padding: 0px;margin: 0px;background-color: grey; border-color: grey;">

    <footer class="grid">
        <div class="center">
           
        </div>
        <div class="center icon">
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
    </footer>
</body>

</html>
Footer
